/* ----- CSS Reset ----- */
button {
  background: unset;
  border: unset;
}
/* ----- CSS Reset ----- */

:root {
  --black: #191414;
  --lighter-black: #2a2424;
  --white: #ffffff;
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.player {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  padding: 20px 50px;

  #song {
    grid-column: span 3;
    display: flex;
    align-items: center;

    #song-poster {
      width: 80px;
      height: 80px;
      margin-right: 15px;
      border-radius: 10px;
    }

    div {
      display: flex;
      flex-direction: column;

      p {
        color: var(--grey);
        font-weight: bold;
      }
    }
  }

  .controls {
    grid-column: span 6;
    display: flex;
    flex-direction: column;

    .controls__btns {
      display: flex;
      justify-content: center;

      .controls-btn {
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .controls-btn:active {
        opacity: 0.5;
      }
      #play-btn {
        scale: 1.2;
        margin: 0 40px 20px 40px;
      }
      #pause-btn {
        scale: 1.2;
        margin: 0 40px 20px 40px;
      }
      #forward-btn {
        scale: 0.7;
        margin-bottom: 20px;
      }
      #backward-btn {
        scale: 0.7;
        margin-bottom: 20px;
      }
    }

    .controls__progress {
      display: flex;
      align-items: center;

      #controls-progress {
        margin: 0 10px;
      }

      #current-duration,
      #total-duration {
        font-size: 14px;
        color: var(--grey);
      }
    }
  }

  .volume {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: right;

    #volume-high-btn {
      display: flex;
      width: 50px;

      img {
        margin-left: 1.8px;
        width: 40px;
        height: 40px;
        scale: 0.7;
      }
    }

    #muted-btn {
      display: flex;
      width: 50px;

      img {
        width: 40px;
        height: 40px;
        scale: 0.63;
      }
    }

    #volume-progress {
      max-width: 150px;
    }
  }
}

.songs {
  position: absolute;
  border-radius: 10px;
  left: 10px;
  bottom: 140px;
  display: flex;
  flex-direction: column;
  background-color: var(--black);

  .songs__song {
    display: flex;
    align-items: center;
    color: var(--white);
    text-align: left;
    padding: 20px 50px;

    .now-playing {
      position: relative;
      right: 15px;
      display: none;
      justify-content: space-between;
      width: 20px;
      height: 20px;

      span {
        width: 4px;
        height: 100%;
        background-color: rgb(17, 212, 115);
        border-radius: 3px;
        transform-origin: bottom;
        animation: bounce 2.2s ease infinite alternate;
        content: "";

        &:nth-of-type(2) {
          animation-delay: -2.2s; /* Start at the end of animation */
        }

        &:nth-of-type(3) {
          animation-delay: -3.7s; /* Start mid-way of return of animation */
        }
      }
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .song-title {
      width: 200px;

      p {
        margin-top: 5px;
        color: var(--grey);
        font-weight: bold;
      }
    }

    .song-duration {
      color: var(--grey);
      font-weight: bold;
    }
  }

  .songs__song:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .songs__song:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .songs__song:hover {
    background-color: var(--lighter-black);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.progress {
  display: flex;
  position: relative;
  height: 6px;
  background: var(--grey);
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  flex-basis: 100%;
  overflow: hidden;
}

.progress-filled {
  height: 6px;
  background: var(--white);
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}

#container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;

  background-color: #1d1717;
}

#left-grid-container {
  grid-area: 1 / 1;
}

#right-grid-container {
  grid-area: 1 / 2;
}

#bottom-left-grid-container {
  grid-area: 2 / 1;
}

#bottom-right-grid-container {
  grid-area: 2 / 2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(25, 1fr);
  gap: 2px;
  background-color: #1d1717;
  border-radius: 4px;
}

.grid-item {
  transition: background-color 0.05s ease;
  background-color: #000;
  border-radius: 50%;
}

#controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button {
  background: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
  border-radius: 2px;
}

.button:hover {
  box-shadow: 2px 2px 5px 1px rgb(33, 33, 33);
}

.volume-icon {
  width: 40px;
  height: 40px;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}
