/* ----- CSS Reset ----- */
button {
  background: unset;
  border: unset;
}
/* ----- CSS Reset ----- */

:root {
  --black: #191414;
  --white: #ffffff;
  --grey: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.player {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  padding: 20px 50px;

  .song {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .controls {
    grid-column: span 6;
    display: flex;
    flex-direction: column;

    .controls__btns {
      display: flex;
      justify-content: center;

      .controls-btn {
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .controls-btn:active {
        opacity: 0.5;
      }
      #play-btn {
        scale: 1.2;
        margin: 0 40px 20px 40px;
      }
      #pause-btn {
        scale: 1.2;
        margin: 0 40px 20px 40px;
      }
      #forward-btn {
        scale: 0.7;
        margin-bottom: 20px;
      }
      #backward-btn {
        scale: 0.7;
        margin-bottom: 20px;
      }
    }

    .controls__progress {
      display: flex;
      align-items: center;

      #controls-progress {
        margin: 0 10px;
      }

      #current-duration,
      #total-duration {
        font-size: 14px;
        color: var(--grey);
      }
    }
  }

  .volume {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: right;

    img {
      width: 40px;
      height: 40px;
      scale: 0.7;
    }

    #volume-progress {
      max-width: 150px;
    }
  }
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.progress {
  display: flex;
  position: relative;
  height: 6px;
  background: var(--grey);
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  flex-basis: 100%;
  overflow: hidden;
}

.progress-filled {
  height: 6px;
  background: var(--white);
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}

#container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;

  background-color: #1d1717;
}

#left-grid-container {
  grid-area: 1 / 1;
}

#right-grid-container {
  grid-area: 1 / 2;
}

#bottom-left-grid-container {
  grid-area: 2 / 1;
}

#bottom-right-grid-container {
  grid-area: 2 / 2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap: 2px;
  background-color: #1d1717;
  border-radius: 4px;
}

.grid-item {
  transition: background-color 0.05s ease;
  background-color: #000;
  border-radius: 50%;
}

#controls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button {
  background: white;
  border: none;
  padding: 5px;
  margin-left: 10px;
  border-radius: 2px;
}

.button:hover {
  box-shadow: 2px 2px 5px 1px rgb(33, 33, 33);
}

.volume-icon {
  width: 40px;
  height: 40px;
}
